

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, #2f2f2f, #3d3d3d, #6b3d8c);
    color: #ffffff;
    margin: 0;
    padding: 0;
}

/* Navigation Bar */
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1f1f;
    padding: 5px;
}

nav img {
    width: 60px;
    height: auto;
    border-radius: 50%;
    
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin-left: 10px;
}

.hamburger {        /*hide hamberger menu default*/
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: white;
}

/* .hamburger img{      
    color: white;
} */

nav ul li {
    margin: 0; 
    display: inline;
}

nav ul li a {
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 4px;
}

nav ul li a:hover {
    color: #ffcc00;
}

nav ul .contac{
border: 1px solid transparent;
transition: 0.5s ease;
}

.contac :hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
    border-radius: 5px;
}

/* Home Section */
#home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 150px;
    max-width: 1200px;
    margin: auto;
}

/* Left Side Content */
#home h1 {
    font-size: 32px;
    margin-bottom: 10px;
    margin-left: 100px;
}

#home h2 {
    font-size: 50px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 100px;
}

#home span {
    color: #ffcc00;
}

#home p {
    font-size: 19px;
    margin-top: 4px;
    color: #cccccc;
    margin-left: 100px;
}

/* Social Media Links */

#home .left .social-media-links a img{
    width: 50px;
    height: auto;
    display: inline-block;
    margin-left: 90px;
    margin-top: 5px;
    padding: 5px;
   
}

/* .social-media-links a {
    display: inline-block;
    margin-right: 20px;
    margin-left: 100px;
    margin-top: 2px;
} */

.social-media-links a img:hover {
   transform: scale(1.2);
}

/* Download CV Button */
#downloadbtn {
    background-color: #ffcc00;
    color: #2f2f2f;
    padding: 20px 30px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
   
}

#download button img{
    display: inline;
    width: 16px;
    height: auto;
}

#home .left {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;

}

#home .left #download{
   position: absolute;
   top: 610px;
   left: 260px;

}

#downloadbtn:hover {
    background-color: #e6b800;
}

/* Right Side (Profile Image & More About Me Bu+tton) */
#home .right img {
    width: 300px;
    height: 350px;
    border-radius: 50%;
    object-fit:cover;
    border: 3px solid #ffcc00;
    display: block;
    margin-right: auto;
    box-shadow: 3px 3px 3px 3px rgb(141, 139, 139);
}

#home button {
    display: block;
    margin: 15px auto 0;
    background-color: transparent;
    color: #ffffff;
    border: 2px solid #ffcc00;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#home button:hover {
    background-color: #ffcc00;
    color: #2f2f2f;
}

/* Work Section */
#work {
    background: linear-gradient(90deg,#6b3d8c, #3d3d3d,#2f2f2f);
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

#work h1 {
    font-size: 35px;
    margin-bottom: 20px;
    margin-top: 0;
}


/* Project Cards */
#work .projects {
    display: flex; 
    margin-top: 10px;
     justify-content: center;
     align-items: center;
    gap: 150px; /* Space between cards */
}

#work .projects .card-1,
#work .projects .card-2,
#work .projects .card-3{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 40px;
   transition: 1s;
}

#work .projects .card-1 .img,
#work .projects .card-2 .img,
#work .projects .card-3 .img{
   width: 200px;
   height:auto ; 
   border-radius: 5px;  
}

#work .projects .card-1:hover{
    transform: scale(1.2);
    box-shadow: 0px 1px 12px #ffffff;
}
#work .projects .card-2:hover{
    transform: scale(1.2);
    box-shadow: 0px 1px 12px #ffffff;
}
#work  .projects .card-3:hover{
    transform: scale(1.2);
    box-shadow: 0px 1px 12px #ffffff;
}


#work > div {
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow */   
}

/* Project Titles */
.projects h2 {
    font-size: 1.5rem; /* Title size */
    color: white; /* Highlight color */
    margin: 1rem 0; /* Spacing around titles */
}

/* Project Images */
#work img {
    width: 200px;
    height: 120px;
    border-radius: 5px; /* Rounded corners for images */
}

/* Project Descriptions */
#work p {
    color:white; /* Gray text for descriptions */
    font-size: 20px; /* Font size */
    line-height: 1.5; /* Line height for readability */
}


/*About section*/

#about{
    background: linear-gradient(90deg, #2f2f2f, #3d3d3d, #6b3d8c);
    text-align: center;
    padding: 50px;
   
}

#about h1 {
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 10px;
}

#about ol {
    margin-left: 10px; /* Indent ordered list */
}

#about img {
    width: 50px; /* Set a uniform size for logos */
    height: auto; /* Maintain aspect ratio */
    margin: 5px; /* Space around images */
}








/*assignments section*/

#assignments{
    background: linear-gradient(90deg,#6b3d8c, #3d3d3d,#2f2f2f);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
   
}

#assignments h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

/* assignment Cards */
#assignments .assignment {
    display: flex; 
    margin-top: 10px;
     justify-content: center;
     align-items: center;
    gap: 100px; /* Space between cards */
}

#assignments .assignment .topic-1
#assignments .assignment .topic-2
#assignments .assignment .topic-3
#assignments .assignment .topic-4
#assignments .assignment .topic-5{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 40px;
   transition: transform 0.3s ease, box-shadow 0.3s ease;
}

#assignments .assignment .topic-1:hover
#assignments .assignment .topic-2:hover
#assignments .assignment .topic-3:hover
#assignments .assignment .topic-4:hover
#assignments .assignment .topic-5:hover{
    transform: scale(1.1);
    box-shadow: 0px 1px 10px #ffffff;
}



/*gallery section*/

#gallery{
    text-align: center;
    padding: 50px ;
    background: linear-gradient(90deg, #2f2f2f, #3d3d3d, #6b3d8c);
}

#gallery h1 {
    font-size: 35px;
    margin-bottom: 30px;
}

#gallery .gallery-item1 img{
    display: grid;
    margin-left: 50px;
    margin-right: 50px;
  width: 350px;
  height: 300px;

}

#gallery .gallery-item2 img{
    display: grid;
    width: 300px;
    height: 300px;
    margin-left: 50px;
    margin-right: 50px;
    
  
  }




























/*Contact section*/

#contact{
    background: linear-gradient(90deg,#6b3d8c, #3d3d3d,#2f2f2f);
    text-align: center;
    padding: 50px;
}

#contact h1 {
    font-size: 35px;
    margin-bottom: 30px;
}
#contact h3 {
    font-size: 25px;
}

#contact p {
    font-size: 20px;
    color: white; 
    line-height: 1.6; 
}

#contact img {
    width: 35px; 
    height: auto; 
    margin-right: 10px; /* Space between icon and text */
}

#contact div {
    margin-bottom: 20px; 
}

#contact a img{
 width: 50px;
 height: auto;      
}

#contact a img:hover {
    transform: scale(1.05);   
}

button {
    background-color: #28a745; /* Green background for buttons */
    color: #fff; 
    padding: 10px 20px; /* Padding inside button */
    border-radius: 5px; 
    cursor: pointer; 
}

button:hover {
    background-color: #218838; 
}



/*media queries*/

@media screen and (max-width: 768px) {

    
    nav ul {
        display: none; /* Hide menu initially */
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background: rgba(0, 0, 0, 0.9);
        width: 100%;
        text-align: center;
        padding: 10px 0;
    }

    nav ul.active {
        display: flex; /* Show menu when active */
    }

    nav ul li {
        padding: 10px 0;
    }

    .hamburger {          /* Show Hamburger Icon */
        display: block;
    }

    #home {
        flex-direction: column;
        text-align: center;
    }

    #home img {
        width: 200px;
        height: auto;
        border-radius: 50px;
    }

    .social-media-links {
        flex-direction: row;
    }

    button {
        width: 20%;
        padding: 12px;
    }

    #work .projects {
        flex-direction: column;
        align-items: center;
    }

    .projects div {
        width: 50%;
    }

    #gallery img{
        width: 50%;
        height: auto;
    }

}








footer p{
  text-align: center;  
}